@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import './Styles/font.css'; */
@import url('https://fonts.googleapis.com/css2?family=Dangrek&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300&family=Quicksand:wght@300;400;500;600;700&display=swap'); 

html{
  font-size: 100%;
}
main{
  display: flex;
  justify-content: center;
  height: 100vh;
}

.landing{
  width: 87vw;
  padding-top: 4rem;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  /* gap: 8rem; */
}
.main-landing-1{
  width: 35vw;
}
@media(max-width:900px){
.landing{
  flex-direction: column;
  width: 90vw;
  gap:3rem;
}
.main-landing-1{
  width: 60vw;
}
}
@media(max-width:600px){
.landing{
  flex-direction: column;
  width: 90vw;
  gap:3rem;
}
.main-landing-1{
  width:90vw;
}
}
@media(max-width:400){
  html{
    font-size: 70%;
  }
}